[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".zsh/zplug/zplug"]
	path = .zsh/zplug/zplug
	url = https://github.com/zplug/zplug
