# Emacs
.emacs.d/el-get
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/tramp
.emacs.d/url

# Vim
.vim/bundle/*
!.vim/bundle/neobundle.vim
.vim/.netrwhist

# Xmonad
.xmonad/*
!.xmonad/xmonad.hs
!.xmonad/xmobarrc

# Zsh
.zsh/antigen/*
!.zsh/antigen/antigen

# Chef
.berkshelf/*
!.berkshelf/config.json
.kitchen/logs

.fonts
*/cifs*
